/* Calendar Container */
#cal-wrap {
  justify-content: center;
  position: flex;
  padding-left: 9%;
  padding-top: 1%;
}

/*custom css of the table (Aaron)*/
#cal-container table{
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: #719CAA;
  width: 90%;
}

.custom-body{
  background-image: linear-gradient( 110deg, #C1ECFA 20%,#719CAA 100%);
  text-align: center;
  background-attachment: fixed;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  margin: 0;
}

.custom-logo{
  font-weight: bold;
  color:#53727c;
  font-size: 1.5em;
}

#header-btns{
  display:flex;
}

.headerBtns{
  background: #faf8f5;
  margin-left: 10px;
  padding: 9px;
  width: 14%;
  box-shadow: -1px 0px 1px #719caa;
  font-weight: bold;
  letter-spacing: 1px;
  color: #719caa;
}

.headerBtns:hover{
  color: #faf8f5;
  background: #719caa;
}

#dayBtn{
  color: #719caa;
  background: #faf8f5;
}

#notepadHeader{
  font-family: 'Shadows Into Light', cursive;
  text-align: left;
  width: 100%;
  height: 50px;
  background: #afd0db;
  border-radius: 5px 5px 0 0;
  margin: 0px;
}

#notepadText{
  height:400px;
  width: 100%;
  height: 100%;
  min-height: 60vh;
  background: repeating-linear-gradient(#faf8f5, #faf8f5 31px, #94ACD4 31px, #94ACD4 32px);
  font-family: 'Shadows Into Light', cursive;
  line-height: 32px;
  outline: 0;
  font-size: 22px;
}

/* Month/Year Selector */
#cal-date { display: flex; }
#cal-mth, #cal-yr, #cal-set {
  margin-top: 1em;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 0;
  color: #fff;
  width: 45%;
  font-weight: bold;
}
#cal-mth, #cal-yr { background: #53727c; }
#cal-set { background: #4e83d9; }

/* Calendar */
#calendar {
  width: 100%;
  border-collapse: collapse;
  justify-content: center;
}
#calendar tr.head td {
  font-weight: bold;
  color: #fff;
  background: #719caa;;
  padding: 15px;
  text-align: center;
}

#calendar tr.day td {
  border: 1px solid #afd0db;
  width: 14.28%;
  padding: 15px 5px;
  background-color:white;
  vertical-align: top;
  height: 150px;
}
#calendar tr.day td:hover {
  background: #8db7c5;
  cursor: pointer;
}

#calendar tr.day .blank:hover {
  cursor: not-allowed;
  background: #f5f5f5;
}

/* Aaron's custom css */
#calendar tr.day p:hover{
  background:#a1cad8;
}

#calendar tr td.blank {
  background: #f5f5f5;
}

#calendar .dd {
  font-size: 1.2em;
  color: #999;
  text-decoration: none;
}

#calendar .dd:hover{
  color:rgb(152, 226, 255);
}

/* Calendar Event */
#calendar .evt {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0.2em;
  font-size: 0.8em;
  overflow: hidden;
  color: #000000;
  border-style: solid;
  border-color: #a1cad8;
  background-color: rgb(137, 204, 231);
  border-width: 2px;
  border-radius: 4px;
}

/* Add/Edit Events */
#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  width: 90%;
  margin-bottom: 20px;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}


*, ::after, ::before {
  box-sizing: border-box;
};

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#evt-date {
  color: #719CAA;
  margin: 10px 0;
  font-size: 1em;
}
#cal-event textarea {
  display: block;
  height: 15em;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
  margin-left: 5%;
  font-size: inherit;
  line-height: inherit;
}

#cal-event input[type=button], #cal-event input[type=submit]{
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #719caa;
  color: #fff;
}

/*Aarons custom css to for links in the add event form */
#cal-event a{
  padding: 13.5px;
  text-decoration: none;
  font-size: 1.2em;
  border: 0;
  margin: 5px;
  background: #719caa;
  color: #fff;
}

/* Calendar Title, Event, Digit etc. Font */
html, body, textarea, input {
  font-family: arial, sans-serif;
}

/*custom-menu bar*/
.nav-menu{
  background-image: linear-gradient( 110deg, #C1ECFA 20%,#719CAA 100%);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  position: relative;
  text-decoration: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 14px;
}
.navbar-nav>.nav-item>.nav-link.active:after {
  content: "";
  border-bottom: 3px solid #53727c;
  left: 1rem;
  right: 1rem;
  bottom: 5px;
  height: 1px;
  position: absolute;
}

.navbar-nav .nav-item {
  text-align: center;
}

#event-time {
  display:inline-flex;
  padding:10px;
}


#sevt-time{
margin-right: 10px;
}

#devt-time{
  margin-left: 10px;
}

#sevt-time, #devt-time{
  height: 30px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  /* --m-background is set as inline style */
  background: var(--m-background);

}
#notepadModal{
  padding: 0px;
}
#modal-header{
  text-align: center;
  display:block;
}

#myModal, #notepadModal{
  position: absolute;
  height: 100%;
  width: 70%;
  margin-left: 225px;
  margin-top: 150px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#event-modal{
  background-color: rgb(174,199,207, 0.95);
  width: 40rem;
  height: 37rem;
  font-weight: bold;
  border-radius: .8rem;
  box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
  position: relative;
  overflow: hidden;
  color: #fff;
}

#notepad-content{
  width: 80%;
  max-width: 600px;
  box-shadow: 10px 10px 40px rgba(black, .15);
  border-radius: 10px;
  padding:3px;
  position: relative;
  overflow: hidden;
}



#event-title{
  font-size: 30px;
}

#header, .close{
  padding: 0px;
  display: contents;
  
}


#evt-name, #location{
  height:30px;
  resize: none;
  margin: 10px 0px;
}

#evt-detail{
  height: 20px;
}



#clockimg{
  height:25px;
  width: 25px;
  margin: 5px;
}
#locimg{
  height: 25px;
  width: 25px;
  margin-top: 10px;
}

#buttons{
  display: inline;
  text-align: right;
}

#Close, #notepadClose{
  margin: 0;
  box-shadow: none;

  width: 4rem;
  height: 4rem;
  border: 1px solid hsla(0, 0%, 100%, .4);
  border-radius: 100rem;

  color: inherit;
  font-size: 2.2rem;

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: .2s;
}

.modal_btn{
  width: 8rem;
  height: 3rem;
  border: 1px solid hsla(0, 0%, 100%, .4);
  border-radius: 10rem;
  background: #fff;
  color: #719CAA;
  font-size: 1rem;
  cursor: pointer;
  transition: .2s;
}
.modal_btn:hover{
  color: #fff;
  background: #53727c;
}
